# Required libraries and dependencies
flask
flask-cors
numpy
pandas
scikit-learn
pandas_datareader
matplotlib
tensorflow
# pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116